<div class="btn-group" data-toggle="buttons" data-table-multi-filter="priority">
  <a title="Sort by High Priority" class="btn btn-small" data-filter=4>High Priority</a>
  <a title="Sort by Friend" class="btn btn-small" data-filter=5>Friend</a>
  <a title="Sort by Prospect" class="btn btn-small" data-filter=6>Prospect</a>
  <a title="Sort by Vendor" class="btn btn-small" data-filter=7>Vendor</a>
  <a title="Sort by Low Priority" class="btn btn-small" data-filter=8>Low Priority</a>
  <a title="Sort by priority" data-filter-header class="btn btn-primary btn-small">Priority</a>
</div> <!-- /btn-group -->