<li class="dropdown swiggle feature">
  {% for id, title in choices.iteritems %}
    <a href="#" id="{{id}}" class="btn btn-mini heads-up">{{title}} <strong>&times;</strong></a>
  {% endfor %}
  <a href="#" class="dropdown-toggle btn btn-mini swiggle-title" data-toggle="dropdown">{{label}} <span class="caret"></span></a>
  <ul class="dropdown-menu all-swiggles" data-table-single-filter="{{name}}">
    {% for id, title in choices.iteritems %}
      <li><a href="#" data-filter={{id}}>{{title}}</a></li>
    {% endfor %}
    <li class="divider"></li>
    <li><a href="#" data-filter-clear="{{name}}">Clear filter</a></li>
  </ul>
</li>